@{
    ViewData["Title"] = "Home Page";
}

<div ng-app="RestaurantReviewApp">
    <div ng-view></div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
<script type="text/javascript">
    angular
        .module('RestaurantReviewApp', ['ngRoute'])
        .config(function ($routeProvider) {
            $routeProvider
                .when('/', {
                    templateUrl: 'pages/index.html',
                    controller: 'IndexController'
                })
                .when('/reviews', {
                    templateUrl: 'pages/reviews.html',
                    controller: 'ReviewsController'
                })
                .when('/restaurants', {
                    templateUrl: 'pages/restaurants.html',
                    controller: 'RestaurantsController'
                })
                .when('/authors', {
                    templateUrl: 'pages/authors.html',
                    controller: 'AuthorsController'
                })
                .otherwise({
                    redirectTo: '/'
                });
        })
        .controller('IndexController', ['$scope', '$http', function ($scope, $http) {
            $scope.message = 'Welcome To Review App';
        }]);

      

</script>